# Reorganized NoahMP_Morocco Git Ignore

# Input and Output data directories (large files)
data/
experiments/
logs/

# Older/temporary run files
fort.*
ldtlog.*
SMAP_filelist.dat

# Compiled LISF binaries (under src/)
src/lisf/lis/LIS
src/lisf/lis/make/LIS
src/lisf/ldt/LDT
src/lisf/ldt/make/LDT
src/lisf/lvt/LVT
src/lisf/lvt/make/LVT
*.o
*.mod
*.d

# Python cache
__pycache__/
*.pyc

# Figures
postproc/figures/
*.png
input/
scripts/venv/
scripts/unrar
validation/vegetation/Copernicus_LAI/raw/
scripts/download/validation/credentials_validation.py
MaskParamFill.log
