# Ignore object files and compiler modules
*.o
*.mod
*.d
*.a

# Ignore compiled executables
lisf/lis/LIS
lisf/ldt/LDT
lisf/lvt/LVT
**/make/LIS
**/make/LDT
**/make/LVT


# Ignore large output files and log outputs
OUTPUT/
OUTPUT_OPL/
OUTPUT_DA/
ldtlog
ldtlog.*
lislog
lislog.*
lvtlog
lvtlog.*

# Ignore system files
.DS_Store
.ipynb_checkpoints/
